body.active-model {
  overflow-y: hidden;
}

.btn-model {
  padding: 10px 20px;
  display: block;
  margin: 100px auto 0;
  font-size: 18px;
}

.model, .overley {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
 
}

.overley {
  background: rgba(49,49,49,0.8);
}
.model-content {
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: #0e0909;
  color:aliceblue;
  padding: 14px 28px;
  border-radius: 3px;
  max-width: 600px;
  min-width: 600px;
  z-index: 3;
}

